body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.row {
  height: 100%;
}

#uvCol {
  height: 600px;
}

.img-thumbnail {
  max-height: 400px;
  width: auto;
}

.panel-default {
  text-align: center;
}

.center-register {
  text-align: center;
  margin: 5% auto;
  width: 80%;
}

.form-signin {
  float: none; margin: 0 auto;
}

.btn-social {
  margin: 5% 5%;
}

.form-control{
  margin: 2% auto;
}

.btn-block {
  margin: 10px;
}