extends layout

block content
  .container
    
    .block-grid-xs-2.block-grid-sm-2.block-grid-md-2
      each archive, index in archives
        .container
          +panel-default(`${archive.title}`)
            a(href=`/archive/manifest/${archive.identifier}`)
              img.img-thumbnail(src=`http://images.is.ed.ac.uk/luna/servlet/iiif/${archive.identifier}page0/full/!1024,1024/0/default.jpg`)
