mixin polyanno()
  #polyanno-top-bar.row
  #polyanno-page-body.row

  script(src='/javascripts/modules/dragondrop.js')
  //- script(src='/javascripts/alltheunicode.js')
  script(src='/javascripts/modules/polyanno.js')
  script(src="/dist/PolyannoEd.bundle.js")
    
 
